<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Invitation Email</title>
</head>

<body>
  <div class="container">
    <h2>Hello {{receiverName}}!</h2>
    <p>{{senderName}} has invited you to join project {{projectName}} on BioSeqAnalyzer</p>
    <p>Join {{senderName}} on {{projectName}} by clicking the link below.</p>
    <p>Your temporary password is {{tempPassword}}</p>
    <p>Access the project <a href={{link}} style="font-weight: 100; font-style: italic;">here</a></p>
  </div>
</body>

</html>